{% extends "base.html" %}

{% load wagtailcore_tags %}
{% block body_class %}template-blogindexpage{% endblock %}

{% block headline %}Das machen wir{% endblock %}
{% block subheadline %}- ein Tech-Blog{% endblock %}

{% block content %}
    {% for post in page.get_children.live.public %}
       <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
              <a href="{% pageurl post %}">
                <h2 class="post-title">
                  {{ post.title }}
                </h2>
                <h3 class="post-subtitle">
                  {{ post.specific.intro }}
                </h3>
              </a>
              <p class="post-meta">Posted on {{ post.specific.date }}</p>
            </div>
          </div>
        <hr>
      </div>
    {% endfor %}
{% endblock %}